[Unit]
Description=Intel Power Control
After=xyz.openbmc_project.Misc.Ipmi
Wants=xyz.openbmc_project.Misc.Ipmi
[Service]
Restart=always
RestartSec=3
ExecStart=/usr/bin/power-control
Type=dbus
BusName=xyz.openbmc_project.State.Host

[Install]
WantedBy=sysinit.target

